{% extends 'base.html' %}

{% block title %} Yangi Muallif Qo'shish {% endblock %}

{% block content %}

<article class="post-content">
    <img src="{{ article.image.url }}" alt="React Hooks" class="post-image">
    <div class="post-meta">
        <span>Muallif: {{ article.author }}</span>
        <span>Sana: {{ article.created_at }}</span>
    </div>

    <h1>{{ article.short_text }}</h1>
    <p>{{ article.long_text }}</p>

<section class="comments">
    <h2>Izohlar</h2>
    {% for comment in article.comment_set.all %}
        <div class="comment">
            <h3>{{ comment.short_text }}</h3>
            <p>{{ comment.long_text }}</p>
        </div>
    {% empty %}
        <p>Izohlar yo'q.</p>
    {% endfor %}


<form class="comment-form" method="post">
    {% csrf_token %}
    <h3>Izoh qoldirish</h3>
    <input type="hidden" name="article" value="{{ article.id }}">
    <div>
        <label for="short_text">Ismingiz:</label>
        <input type="text" id="short_text" name="short_text" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="long_text">Izohingiz:</label>
        <textarea id="long_text" name="long_text" required></textarea>
    </div>
    <button type="submit">Yuborish</button>
</form>

</section>

<h2>O'xshash Maqolalar</h2>
<section class="related-posts">
    <div class="related-post">
        <img src="https://c4.wallpaperflare.com/wallpaper/1014/266/488/python-programming-blue-green-wallpaper-preview.jpg" alt="React Performance">
        <h3>React ilovalar ishlashini optimallash</h3>
    </div>
    <div class="related-post">
        <img src="https://c4.wallpaperflare.com/wallpaper/1014/266/488/python-programming-blue-green-wallpaper-preview.jpg" alt="Custom Hooks">
        <h3>O'z React hooklaringizni yarating</h3>
    </div>
    <div class="related-post">
        <img src="https://c4.wallpaperflare.com/wallpaper/1014/266/488/python-programming-blue-green-wallpaper-preview.jpg" alt="React Native">
        <h3>React Native bilan mobil ilovalar yaratish</h3>
    </div>
</section>

{% endblock %}
