<!DOCTYPE html>

{% load static %}

<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangi Muallif Qo'shish - Zamonaviy Dasturchi</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="page-container">

    <header class="glass-effect">
        {# NAVIGATION BAR #}
        {% include 'includes/nav.html' %}

        {# HEADER CONTENT #}
        {% include 'includes/header.html' %}
    </header>

    <div class="content-wrap">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    {# FOOTER SECTION #}
    {% include 'includes/footer.html' %}

    <button id="mode-toggle">Tungi rejim</button>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const modeToggle = document.getElementById('mode-toggle');
            const body = document.body;

            modeToggle.addEventListener('click', () => {
                body.classList.toggle('dark-mode');
                const isDarkMode = body.classList.contains('dark-mode');
                modeToggle.textContent = isDarkMode ? 'Kunduzgi rejim' : 'Tungi rejim';
            });
        });
    </script>

</body>
</html>
