{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% for article in articles %}
    <article class="post">
        <img src="{{ article.image.url }}" alt="{{ article.short_text }}">
        <h2>{{ article.short_text }}</h2>
        <a href="{% url 'articles:detail' year=article.created_at.year month=article.created_at.month day=article.created_at.day slug=article.slug %}" class="read-more">
            Batafsil o'qish
        </a>
    </article>
{% empty %}
    <p>Hozircha maqolalar mavjud emas.</p>
{% endfor %}

{% endblock %}